.listsessions-background {
  background: url('images/listsessions.png') no-repeat center center fixed;
  background-size: cover;
  height: 600px;
  padding-top: 50px;
}

.addsession-background {
  background: url('images/icspace.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 600px;
  padding-top: 50px;
}

.registersession-background {
  background: url('images/register.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 700px;
  padding-top: 30px;
}

.leaderboard {
  background: url('images/uhmanoa.jpeg') no-repeat center center fixed;
  background-size: cover;
  height: 600px;
  padding-top: 50px;
}

.fc .fc-daygrid-day-number {
  color: #149414;
}

.fc .fc-col-header-cell-cushion {
  color: #149414;
}

.fc .fc-toolbar-title {
  color: #149414;
}

.fc-scrollgrid.fc-scrollgrid-liquid {
  background: #b8d8be;
}
